<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  
  <add key="DefaultConnectionString" value="Data Source=10.16.45.49\SQL2016;database=FiapV3;pwd=123456;uid=sa;" />
</appSettings>
